extends layout

block content
  h1= title

  p Welcome to #{title} :smile:


        div Escribe un mensaje
        br
        div
            textarea(id='message')


        div Escribe un nick
        br
        div
            textarea(id='nick')



        div
           a(href='http://www.emoji-cheat-sheet.com/') emoji Guide

        div(id='nicks')
        div(id='messages')


    script
        var socket = io.connect();
        var emoji_set_up = function() {
            emojify.setConfig({
                emojify_tag_type: 'div',
                emoticons_enabled: true,
                people_enabled: true,
                nature_enabled: true,
                objects_enabled: true,
                places_enabled: true,
                symbols_enabled: true
            });
            emojify.run();
        };
        $(document).ready(function () {
            emoji_set_up();
            socket.on('connected', function (data) {
                console.log(data);
                socket.emit('my other event',"ADIOS");
            });

        $('#message').bind('keyup', function (e) {
        var key = e.keyCode || e.which;
        if (key === 13) {

        socket.emit('user message',$('#message').val());
        $('#message').val('').focus();

            };
        });
            //$('#boton').click(function () {
            //    socket.emit('user message',$('#message').val());
            //    $('#message').val('').focus();
            //});

        $('#nick').bind('keyup', function (e) {
        var key = e.keyCode || e.which;
        if (key === 13) {

        socket.emit('user nick',$('#nick').val());
        $('#nick').val('').focus();

            };
        });

            //$('#boton2').click(function () {
            //    socket.emit('user nick',$('#nick').val());
            //    $('#nick').val('').focus();
            //});

            socket.on('user message', function (data) {
                $('#messages').append('<p>' + data + '</p>');
                emojify.runOverElement($('#messages')[0]);
            });

            socket.on('user nick', function (data) {
             $('#nicks').append('<p><B>' + data + '</B></p>');

                       });




        });


