extends layout

block content
  h1= title

  p Welcome to #{title} :smile:


        div Escribe un mensaje
        br
        div
            textarea(id='message')
            button(id='boton') Enviar mensaje

        div
           a(href='http://www.emoji-cheat-sheet.com/') emoji Guide


        div(id='messages')

    script
        var socket = io.connect();
        var emoji_set_up = function() {
            emojify.setConfig({
                emojify_tag_type: 'div',
                emoticons_enabled: true,
                people_enabled: true,
                nature_enabled: true,
                objects_enabled: true,
                places_enabled: true,
                symbols_enabled: true
            });
            emojify.run();
        };
        $(document).ready(function () {
            emoji_set_up();
            socket.on('connected', function (data) {
                console.log(data);
                socket.emit('my other event',"ADIOS");
            });

            $('#boton').click(function () {
                socket.emit('user message',$('#message').val());
                $('#message').val('').focus();
            });


            socket.on('user message', function (data) {
                $('#messages').append('<p>' + data + '</p>');
                emojify.runOverElement($('#messages')[0]);
            });

        });


