doctype 5
html
    head
        title Primera plantilla Jade
        script(src='/socket.io/socket.io.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js')
        style(type='text/css')
        link( rel='stylesheet', type='text/css', href='stylesheets/emojify.min.css')
        link(rel='stylesheet', href='stylesheets/bubbles.css', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Crafty+Girls', rel='stylesheet', type='text/css')
        script( src='javascripts/emojify.js')

        body
            h1 Bienvenid@ al chat :blush:
            #contenedor
                block content

            //script
            //
            //var socket = io.connect('http://localhost');
            //
            //socket.on('news', function (data) {
            //    console.log(data);
            //    socket.emit('my other event',"ADIOS");
            //    });
            //
            //$('#send-message').submit(function(){
            //socket.emit('user mesasge', $('message').val() );
            //$('#message').val('').focus();
            //return false;
            //});
            //
            //socket.on('user message', function (data) {
            //    $('#messages').append(data.message);
            //        });